.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: 40vw;
    background-color: #BF7582;
    margin-left: 20vw;
    margin-top: 5vw;
    border-radius: 1rem;
    margin-bottom: 5vw;
    box-shadow: 0.5rem 0.5rem 0.5rem #8C0F1A;
}

.login_form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1vw;
}

.login_email {
    padding: 0.2vw;
    margin: 0.8vw;
    width: 15vw;
    border-radius: 0.5rem;
}

.login_senha {
    padding: 0.2vw;
    margin-bottom: 7px;
    width: 15vw;
    border-radius: 0.5rem;  
}

.login_login {
    align-items: center;
    border-radius: 0.5rem;
    width: 6vw;  
}